.title <$title>


** Includes **
$includes

** Load models **
$models

** Options **
$options

** Parameters **
$params

** Probes **
$probes

** Sub-circuits **
$subckts

** Crossbar instantiation **
$xbar

** PWL voltage waveforms **
$pwls

** Transient analysis **
.tran $tstep $tstop

.end